h1 {color:aqua;}
body {
background-color: brown;

font-family:times new roman}

h1 {
 color:blue;} 

h2 {color:blueviolet:} 

p{font-size: small; line-height:l.4;} 

a {color: black;}

img {width: 300px;border: 4px mediumseagreen;border: radius 10px;}

li {color:blue;margin: 11px;} 

