h1 {color:aqua;}
body {
background-color: rgb(144, 99, 99);
font-family: "Times New Roman", Times, serif;
}

h1 {
 color:blue;} 

h2 {
    color:blueviolet;
} 

p{
    font-size: small;
     line-height: 0.7em;
    } 

#highlight {
        text-decoration: underline;
        padding: 10px;
        border-style: solid black;
        border-width: 2px;
        width: 300px;
    } 

#about {
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-style: solid black;
        border-width: 2px;
        margin-bottom: 20px;
    }

a {color: rgb(218, 201, 201);}

img {
    width: 300px;
    border: 4px mediumseagreen;
    border-radius: 13px;
}

li {color:blue;
    margin: 11px;
} 

div {
  border: 2px solid black;
  margin-bottom: 20px;
  padding: 20px;
}

#page-title {
  color: purple;
  font-size: 48px;
}

.highlight {
  background-color: yellow;
  color: purple;
  padding: 10px;
}
